.joblistArticle {
  max-width: 800px;
  margin: 10px auto;
}

.joblistArticle .container {
  width: 920px;
  background-color: rgba(174, 175, 174, 0.063);
  border-radius: 7px;
  padding: 20px;
  margin-top: 44px;
}

.joblist {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0.4px 5px #ccc;
  padding: 10px;
  max-width: 800px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 0.3fr 1fr auto;
  grid-row: 0.5fr 1fr 0.5fr;
  align-items: center;
  transition: all 0.5s ease-in;
  position: relative;
  z-index: 1;
  margin-bottom: 2.4rem;
}

.company-name {
  grid-row: 1;
  grid-column: span 3;
}

.joblist-position {
  font-weight: bold;
}

.job-description.dark,
.joblist.dark {
  background: #555;
  color: #e4e4e4;
}

.job-btns {
  grid-row: 3;
  grid-column: span 2;
  margin-top: 0.3rem;
  gap: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joblist h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.joblist p {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.jobgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.jobgrid-first div .jobfact p:first-child {
  font-weight: bold;
}

.jobstatus {
  margin-left: 40px;
}

.jobfact {
  display: flex;
}

.postedAt {
  justify-self: flex-end;
  margin-right: 20px;
}

.job-like-btn {
  cursor: pointer;
}

.job-btns button,
.job-btns .btn {
  text-decoration: none;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: #fff;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.job-btns button:hover,
.job-btns .btn:hover {
  background: #e4e4e4;
}

.jobstatus {
  width: 80px;
  text-align: center;
  border: 1px solid black;
}

.job-description {
  padding: 10px;
  position: relative;
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(-30%);
    z-index: -1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.job-description {
  background: #fff;
  border-radius: 7px;
  list-style: none;
  box-shadow: 0 2px 5px #ccc;

  animation: slideDown 0.9s forwards;
  z-index: 0;
}
